<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel"> 
    <wm-nav name="leftnavigation" type="pills" layout="stacked"> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-anchor caption="Dashboard" name="dashboardButton" iconclass="glyphicon glyphicon-dashboard"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_inTheNews"> 
            <wm-anchor caption="Pending Orders" name="porderButton" iconclass="glyphicon glyphicon-file"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_share"> 
            <wm-anchor caption="Inventory" name="inventoryButton" iconclass="glyphicon glyphicon-tags"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_help"> 
            <wm-anchor caption="Support Calls" name="supportButton" iconclass="glyphicon glyphicon-envelope"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>